{% load static %}
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Takata Recovery</title>
    <link rel="shortcut icon" href="images/icons/favicon.png" />
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="{% static 'takatarecovery/foundation.css' %}" />
    <link rel="stylesheet" href="{% static 'takatarecovery/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'takatarecovery/animate.min.css' %}" />
    <link rel="stylesheet" href="{% static 'takatarecovery/slicknav.css' %}" />
    <link rel="stylesheet" href="{% static 'takatarecovery/style.css' %}" />
  </head>
  <body class="login-page" style=" background: url(/media/takatarecovery/login_page_bg.jpg)">

<!--  HEADER -->
<header class="login" style="border: 1px solid blue;">
<div class="top" style="border: 1px solid black;">
  <div class="row">
  <div class="small-12 large-3 medium-3 columns">
			<div class="logo" >
				<a href="{% url 'takatarecovery-home' %}" title=""><img src="/media/takatarecovery/araa.png" alt="" title="" style="width: 60px" /></a>
			</div>
		</div>

    <div class="small-12 large-9 medium-9 columns">

<!--  NAVIGATION MENU AREA -->
    <nav class="desktop-menu">
		<ul class="sf-menu" id="navigation">
            <li><a href="{% url 'takatarecovery-home' %}">HOME</a></li>
			<li><a href="{% url 'takatarecovery-makemodel' %}">MAKE MODEL CHECK</a></li>
			<li><a href="{% url 'takatarecovery-aboutus' %}">ABOUT US</a></li>
			<li  class="current-menu-item"><a href="{% url 'takatarecovery-privacy' %}">PRIVACY POLICY</a></li>
			<li><a href="{% url 'takatarecovery-contact' %}">CONTACT</a></li>
		</ul>
	</nav>
<!--  END OF NAVIGATION MENU AREA -->
  </div>
  </div>
  </div>

<!--  MESSAGES ABOVE HEADER IMAGE -->

<!--  END OF MESSAGES ABOVE HEADER IMAGE -->

</header>
<!--  END OF HEADER -->


<!-- DOMAIN PRICES  -->

<!--  END OF PRCING BOXES COMPARISON  -->

<br>
<br>
<br>
<br>
<br>

<section class="">
<div class="row">
<div class="small-12 large-12 medium-12 columns" style="color: white;">
<h2>PURPOSE</h2>
<p>

This policy describes how the Auto Recyclers Association of Australia (ARAA) will use, manage and protect personal information in accordance with the Australian Privacy Principles and all relevant privacy legislation protecting the rights of individuals.
</p>

<h2> SCOPE </h2>

<p>
This policy applies to all personal information held or controlled by ARAA.
</p>

<h2>DEFINITIONS</h2>
<br>
<p>
<b>
Personal information:
</b>
<br>
<br>
Personal information is information or an opinion (including information or an opinion forming part of a database) whether true or not, and whether recorded in a material form or not, about an individual whose identity is apparent or can reasonably be ascertained, from the information or opinion (section 6). It includes all personal information regardless of its source.
<br>
Personal information relates to a natural living person. A natural person is a human being rather than, for example, a company, which may in some circumstances, be recognised as a legal ‘person’ under the law.
<br>
<br>
<b>
Sensitive information:
</b>
<br>
<br>
Sensitive information is a subset of personal information. It means information or opinion about an individual’s racial or ethnic origin, political opinions, membership of a political association, religious beliefs or affiliations, philosophical beliefs, membership of a professional or trade association, membership of a trade union, sexual preferences or practices, criminal record or health information about an individual.
</p>
<h2>POLICY</h2>
<p>
The Auto Recyclers Association of Australia Limited (ARAA) manages private information in accordance with the Privacy Act 1988.
<br><br>
In particular, the Association’s privacy policy implements the thirteen Australian Privacy Principles (APPs) set out in the Privacy Act, which specify how organisations should collect, use, keep, secure and disclose personal information.
<br>
<br>
The principles also give individuals a right to know what information an organisation holds about them and a right to correct that information if it is wrong, and how to make a complaint in the event of a breach.
<br><br>
Overview of personal information collected by ARAA
<br><br>
For the most part, personal information collected by ARAA falls under two categories:
<br>
<ul>
	<li>information concerning staff and directors, as required in the normal course of human resource management; and </li>
	<li>information concerning automotive recyclers, motor vehicle wreckers, motor vehicle exporters, second-hand parts sellers, scrap metal traders, service providers and people with whom ARAA has dealings (typically contact details for individuals and, in some instances, bank account details for electronic payments).</li>
</ul>   
<b>
Australian Privacy Principle 1 — Open and transparent management of personal information
</b>
<br>
<br>
ARAA will take such steps as are reasonable in the circumstances to implement practices, procedures and systems relating to ARAA’ functions or activities that will ensure its compliance with the APPs and will enable ARAA to deal with inquiries or complaints from individuals about ARAA’s compliance with the APPs. In this respect, ARAA will maintain this privacy policy and keep it up to date. Copies are available free of charge upon request.
<br>
<br>
<b>
Australian Privacy Principle 2 — Anonymity
</b>
<br>
<br>
Wherever it is lawful and practicable, individuals will have the option of not identifying themselves when entering transactions with ARAA.
<br>
<br>
<b>
Australian Privacy Principle 3 – Collection
</b>
<br>
<br>
ARAA will only collect personal information by lawful or fair means, such as when an individual knowingly provides that information to ARAA, and will not collect personal information for inclusion in a record or in a generally available publication unless the information is collected for a lawful purpose that is reasonably necessary for, or directly related to, the function of ARAA.
<br>
ARAA will not collect sensitive information except with consent from the individual or in circumstances permitted by the APPs.
<br>
<br>
<b>
Australian Privacy Principle 4 — Dealing with unsolicited personal information
</b>
<br>
<br>
If ARAA receives personal information that it did not solicit, it will, within a reasonable period after receiving the information, determine whether or not it could have lawfully collected the information under Principle 3 and if it could not, then it will, as soon as practicable but only if it is lawful and reasonable to do so, destroy the information or ensure that the information is de-identified.
<br>
<br>
<b>
Australian Privacy Principle 5 — Notification of the collection of personal information
</b>
<br>
<br>
At the time ARAA collects personal information (or as soon as practicable thereafter), ARAA will take steps as are reasonable in the circumstances to notify the individual of the matters set out in this policy or otherwise ensure they are aware of such matters.
<br>
<br>
<b>
Australian Privacy Principle 6 — Use and disclosure
</b>
<br>
<br>
When in possession or control of a record that contains personal information, ARAA will only use and disclose the information for the purpose for which the information was collected.
<br>
<br>
When in possession or control of a record that contains personal information that was obtained for a particular purpose, ARAA will not use or disclose the information for any other purpose unless:
<br>
<br>
<ul>
	<li>the individual concerned has consented;</li>
	<li>ARAA believes on reasonable grounds that use of the information for that other purpose is necessary to prevent or lessen a serious and imminent threat to the life or health of the individual concerned or of another person;</li>
	<li>use of the information for that other purpose is required by law;</li>
	<li>use of the information for that other purpose is reasonably necessary for the enforcement of the law, or for the protection of public revenue (if this right is exercised, ARAA will include in the record containing that information a note of that use); or</li>
	<li>the purpose for which the information is used is directly related to the purpose for which the information was obtained and the individual would reasonably expect the organisation to use or disclose the information for the secondary purpose.</li>
</ul>
<b>
Australian Privacy Principle 7 — Direct marketing
</b>
<br>
<br>

ARAA may use or disclose personal information for the purposes of direct marketing, including via electronic communications and telephone. By providing personal information directly to ARAA, individuals consent to this. ARAA will provide a simple means by which an individual can request not to receive direct marketing.
<br>
<br>
<b>
Australian Privacy Principle 8 — Cross-border disclosure of personal information
</b>
<br>
<br>
ARAA will only transfer personal information about an individual to someone (other than ARAA or the individual) who is in a foreign country if that person agrees to treat the information in compliance with the Australian Privacy Principles.
<br>
<br>
<b>
Australian Privacy Principle 9 — Adoption, use or disclosure of government related identifiers
</b>
<br>
<br>
ARAA will not adopt as its own identifier of an individual, a government related identifier of the individual.
<br>
<br>
<b>
Australian Privacy Principle 10 — Quality of personal information
</b>
<br>
<br>
When ARAA has possession or control of a record that contains personal information, it will not use that information without taking steps as are reasonable in the circumstances to ensure the information is accurate, up to date and complete.
<br>
<br>
<b>
Australian Privacy Principle 11 — Data security
</b>
<br>
<br>
When ARAA has possession or control of a record that contains personal information, it will take reasonable steps in the circumstances to ensure the following:
<br>
    The record is protected by security safeguards against loss; against unauthorised access, use, modification or disclosure; and against other misuses.<br>
    It will destroy or permanently de-identify personal information if it is no longer needed for any purpose for which the information may be used or disclosed under Principle 3.<br>
<b>
<br>
Australian Privacy Principle 12 — Access
</b>
<br>
<br>
If ARAA holds personal information about an individual, it will provide the individual with access to the information on request by the individual, except to the extent of exceptions detailed in the APPs. ARAA will provide reasons for denial of access to personal information.
<br>
<br>
<b>
Australian Privacy Principle 13 — Correction
</b>
<br>
<br>
If ARAA holds personal information about an individual and the individual requests that the information be corrected, ARAA will take reasonable steps to correct the information so that it is accurate, complete and up-to-date.
<br>
<br>
ARAA will provide reasons for any refusal to correct personal information.
<br>
<br>
<h2>
	Contact ARAA
</h2>
<br>
<br>
To request access to or correction of personal information, or to make a complaint regarding the same, please contact ARAA at <u>admin@autorecycle.com.au</u> or through our website <u>www.autorecycle.com.au</u>. All request will be actioned within a reasonable timeframe and as soon as practicable.
</p>

</div>
</div>
</section>


<!--  END OF DOMAIN FEATURES  -->



<!--  FOOTER  -->
<footer>
<!--<div class="row">
<div class="small-12 columns">
<div class="contacts">
<div class="row">
<div class="small-12 large-3 medium-3 columns">
<i class="fa fa-map-marker"></i>
Melbourne, Australia
</div>
<div class="small-12 large-3 medium-3 columns">
<i class="fa fa-mobile"></i>
+61 451 65 2908
</div>
<div class="small-12 large-3 medium-3 columns">
<i class="fa fa-comments"></i>
LIVE CHAT
</div>
<div class="small-12 large-3 medium-3 columns">
<i class="fa fa-envelope-o"></i>
E-MAIL US
</div>
</div>
</div>
</div>
</div>


<div class="row">
<div class="small-12 columns">
<div class="footerlinks">
</div>

</div>
</div>

SOCIAL LINKS
<div class="social">
<div class="row">
<div class="small-12 columns">
<ul class="small-block-grid-1 large-block-grid-5 medium-block-grid-5">
<li class="facebook"><a href="">FACEBOOK</a></li>
<li class="twitter"><a href="">TWITTER</a></li>
<li class="googleplus"><a href="">GOOGLE+</a></li>
<li class="linkedin"><a href="">LINKEDIN</a></li>
<li class="pinterest"><a href="">PINTEREST</a></li>
</ul>
</div>
</div>
</div>-->
<!-- END OF SOCIAL LINKS -->
<p class="copyright">© Copyright ARAA, all rights reserved. </p>
</footer>
<!--  END OF FOOTER  -->

<a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>

    <script src="{% static 'takatarecovery/vendor/export-data.js' %}"></script>
    <script src="{% static 'takatarecovery/vendor/jquery.js' %}"></script>
    <script src="{% static 'takatarecovery/vendor/what-input.min.js' %}"></script>
    <script src="{% static 'takatarecovery/foundation.min.js' %}"></script>
    <script src="{% static 'takatarecovery/vendor/hoverIntent.js' %}"></script>
    <script src="{% static 'takatarecovery/vendor/superfish.min.js' %}"></script>
    <script src="{% static 'takatarecovery/vendor/morphext.min.js' %}"></script>
    <script src="{% static 'takatarecovery/vendor/wow.min.js' %}"></script>
    <script src="{% static 'takatarecovery/vendor/jquery.slicknav.min.js' %}"></script>
    <script src="{% static 'takatarecovery/vendor/waypoints.min.js' %}"></script>
    <script src="{% static 'takatarecovery/vendor/jquery.animateNumber.min.js' %}"></script>
    <script src="{% static 'takatarecovery/vendor/owl.carousel.min.js' %}"></script>
    <script src="{% static 'takatarecovery/vendor/retina.min.js' %}"></script>
    <script src="{% static 'takatarecovery/custom.js' %}"></script>

  </body>
</html>
